* {
    margin: 0px;
    padding: 0px;
    -webkit-user-select: none;
    user-select: none;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}
:root {
    --color-red: #FF6B6B;
    --color-yellow: #FFD93D;
    --color-green: #6BCB77;
    --color-blue: #4D96FF;
    --color-guava: #ca0b5f;
    --color-white: #ffffff;
    --color-gray-one: #D8D8D8;
    --color-gray-two: #696969;
    --color-black: #000000;
    --color-lightblue: #c3dcff;
    --max-width: 300px;
}
html, body {
    background: var(--color-lightblue);
    height: 100%;
    overflow-x: hidden;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: var(--color-lightblue);
    color: var(--color-black);
    overflow-y: visible;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
}
.pages {
    height: 100%;
}
.header-page-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--max-width);
    padding: 10px 0 20px 0;
}
figure {
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
figure > svg {
    height: 70px;
    width: 70px;
}
figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-justify: left;
}
h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    height: auto;
    width: 100%;
    text-shadow: 1px 2px 0px #000000, 1px -1px 0px #000000, -1px 1px 0px #000000, -1px -1px 0px #000000, 2px 3px 0px #ffffff;
}
h1 > span:nth-of-type(1) {
    color:var(--color-red);
}
h1 > span:nth-of-type(3) {
    color:var(--color-green);
}
h1 > span:nth-of-type(5) {
    color:var(--color-blue);
}
h1 > span:nth-of-type(2),
h1 > span:nth-of-type(4),
h1 > span:nth-of-type(6) {
    color:var(--color-yellow);
}
.settings {
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}
.settings button {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: var(--color-black);
    text-shadow: 1px 2px 0px var(--color-white);
    cursor: pointer;
    height: 20px;
    border: none;
    background-color: transparent;
}
.settings button:hover {
    font-size: 16px;
}
main {
    background-color: transparent;
    height: auto;
    width: 300px;
    margin-bottom: 10px;
}
ul {
    list-style: none;
}
.scoreboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Fredoka One', cursive;
    font-size: 60px;
    color: var(--color-black);
    text-shadow: 1px 2px 0px var(--color-red);
}
.scoreboard div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.scoreboard p {
    text-align: bottom;
}
.scoreboard > p {
    font-size: 40px;
    width: 20px;
    margin: 0 8px 12px 8px;
}
.scoreboard div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.input,
.input-robot {
    width: 100px;
    height: 28px;
    border-radius: 10px;
    background-color: var(--color-white);
    border: 2px solid var(--color-black);
    box-shadow: 2px 3px 0px var(--color-red);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
}
.input-robot {
    background-color: var(--color-yellow);
    color: var(--color-black);
    text-shadow: 1px 2px 0px var(--color-red);
}
.scoreboard div:nth-of-type(1) input {
    text-align: right;
    padding-right: 5px;
}
.scoreboard div:nth-of-type(2) input {
    padding-left: 5px;
}
.status {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: var(--color-black);
    text-shadow: 1px 2px 0px var(--color-white);
}
.board > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    line-height: 59px;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
    width: 88px;
    height: 88px;
    border-radius: 10px;
    border: 2px solid var(--color-black);
    box-shadow: 2px 3px 0px var(--color-white);
    background-color: var(--color-red);
    cursor: pointer;
    font-family: 'Fredoka One', cursive;
    font-size: 70px;
    font-weight: 900;
    color: var(--color-black);
    text-shadow: 1px 2px 0px var(--color-white);
}
.button-tile-twinkle {
    animation-name: twinkle-tile;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes twinkle-tile {
    0% {background-color: var(--color-red);}
    50% {background-color: var(--color-yellow);}
}
.button-start {
    width: 100px;
    background-color: var(--color-red);
    height: 28px;
    border-radius: 10px;
    border: 2px solid var(--color-black);
    box-shadow: 2px 3px 0px var(--color-white);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: var(--color-black);
    text-shadow: 1px 2px 0px var(--color-white);
}
.button-start-twinkle {
    animation-name: twinkle-start;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes twinkle-start {
    0% {background-color: var(--color-red);}
    50% {background-color: var(--color-yellow);}
}
.button:hover,
.button-start:hover {
    border-width: 4px;
}
.button:active,
.button-start:active {
    transform: translateY(1px);
}


.header-pages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: var(--max-width);
    padding: 5px 0 20px 0;
}
.page-info {
    color: var(--color-black);
    text-shadow: 1px 2px 0px var(--color-gray-two);
}
.page-info > main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}
.page-info p {
    margin-bottom: 10px;
}

.infobar {
    width: 100%;
}
.infobar * {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: var(--color-black);
    text-shadow: 1px 2px 0px var(--color-white);
}
.infobar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-blue);
    padding-left: 5px;
    padding-right: 5px;
}
.infobar li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#rangevalue {
    display: inline-block;
    height: 30px;
    width: 50px;
}
/*
input[type="range"] {
    -webkit-appearance: none;
    margin-right: 15px;
    width: 100px;
    height: 7px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-image: linear-gradient(#ff4500, #ff4500);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-color: black;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ff4500;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}
input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}
*/

input[type='range'] {
    -webkit-appearance: none;
    overflow: hidden;
    width: 80px;
    border-radius: 5px;
    background-color: var(--color-white);
    background-repeat: no-repeat;
}

input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 10px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: ew-resize;
    background: var(--color-gray-two);
    box-shadow: -85px 0 0 80px var(--color-red);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-red);
    box-shadow: 0 -2px 0 var(--color-black), 0 -4px 0 var(--color-white);
    padding-top: 5px;
    padding-bottom: 5px;
    height: 20px;
    width: 100%;
    text-align: center;
}
footer > p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: var(--color-black);
    text-shadow: 0.5px 1px 0px var(--color-white);
    width: calc(100% - 20px);
}
footer > p > a {
    text-decoration: none;
    color: var(--color-black);
}

.invert-horizontal {
    display: inline-block;
    transform: scale(-1, 1);
}
.display-none {
    display: none;
}
.unclickable {
    pointer-events: none;
}